{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %}
{% block body %}
<header id="header" class="alt">
    <h1><a href="index.html">Solid State</a></h1>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{{ path('index') }}">Accueil</a></li>
            <li><a href="{{ path('golf') }}">Admin</a></li>
            <li><a href="{{ path('arbitre') }}">Arbitre</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-file-image"></span></div>
        <h2>PRAGolf</h2>
        <p>Un site de Golf.</p>
    </div>
</section>
<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#" class="image"><img src="{{ asset('images/logoflat.png') }}" alt=""/></a>
            <div class="content">
                <h2 class="major">Projet - Symfony</h2>
                <p>Une production de l'équipe AY.</a></p>
            </div>
        </div>
    </section>
</section>

{% endblock %}