{% extends 'base.html.twig' %}
{% block title %}Traitement des internautes{% endblock %}
{% block body %}
<div class="page-wrapper">
    <section id="wrapper">
        <header>
            <div class="inner">
                <div class="logo"><span class="icon fa-plus"></span></div>
                <h2>Formulaire pour la cr&eacute;ation d'un internaute</h2>
                <p>Envoi pour enregistrement dans la base de données.</p>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">Formulaire</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br /><button>Envoyer</button>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </section>
</div>
{% endblock %}