{% extends 'base.html.twig' %}
{% block title %}Affichage des Golf{% endblock %}
{% block body %}
    <header id="header" class="alt">
        <h1><a href="index.html">Solid State</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a href="{{ path('index') }}">Accueil</a></li>
                <li><a href="{{ path('golf') }}">Admin</a></li>
                <li><a href="{{ path('arbitre') }}">Arbitre</a></li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>
<div class="page-wrapper">
    <section id="wrapper">
        <header>
            <div class="inner">
                <div class="logo"><span class="icon fa-file"></span></div>
                <h2>Admin</h2>
                <p>L'administrateur gère les golf</p>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">Liste des golf</h3>
                    <h4>
                        <span class="icon fa-user"></span>
                        <a href="{{ path('ajout_golf') }}">Ajouter un golf</a>
                    </h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Localisation</th>
                                <th>Par</th>
                                <th>Numero Trou</th>
                                <th>Temps Deplacement (minutes)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in golf %}
                                <tr>
                                    <td>{{ i.nom }}</td>
                                    <td>{{ i.localisation }}</td>
                                    <td>{{ i.par }}</td>
                                    <td>{{ i.numeroTrou }}</td>
                                    <td>{{ i.tempsDeplacement }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
{% endblock %}