{% extends 'base.html.twig' %}
{% block title %}Fichiers Excel{% endblock %}
{% block body %}
    <header id="header" class="alt">
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a href="{{ path('index') }}">Accueil</a></li>
                <li><a href="{{ path('golf') }}">Admin</a></li>
                <li><a href="{{ path('arbitre') }}">Arbitre</a></li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>
<div class="page-wrapper">
    <section id="wrapper">
        <header>
            <div class="inner">
                <div class="logo"><span class="icon fa-file"></span></div>
                <h2>Créer et lire un fichier Excel</h2>
                <div class="inner">
                    <section>
                        <h3 class="major">Création d'un fichier Excel</h3>
                    </section>
                    <h4>
                        <span class="icon fa-file-archive"></span>
                        <a href="{{ path('create_xlsx') }}">Créer un fichier Excel</a>
                    </h4>
                </div>
                <p></p>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">Lire un fichier Excel</h3>
                    <h4>
                        <span class="icon fa-file-archive"></span>
                        <a href="{{ path('read_xlsx') }}">Lire un fichier Excel</a>
                    </h4>
                </section>
            </div>
        </div>
    </section>
</div>
{% endblock %}
